<div class="banner">
  <div class="banner-title">
    <h1> JUDITH LEE ART </h1>
    <h3> ARTIST / WATERCOLOUR / LANDSCAPES</h3>
  </div>
</div>

<div class="homepage">
  <div class="about-me">
    <h2>About Me</h2>
    <p>
      Judith Lee graduated from Edinburgh University with an MA (Hons) in Fine Art in 1980.
      She went on to qualify and work as an Art Therapist for six years in a large psychiatric hospital in County Durham.
      In Belfast, she worked in a large voluntary mental health organisation becoming a director before taking early retirement a few years ago.
      In 2006 she completed a PhD entitled ‘Melancholy, the Muse and mental health promotion’ exploring the complex relationship between bipolar disorder and creativity.
      Her artwork is mostly watercolour and acrylic.
      The subjects are largely Irish and Italian landscapes and nudes.
      She has travelled extensively to Italy, particularly Tuscany and Sicily and her artwork reflects her enduring attachment to these places. More recently, she has visited the North of Africa, which has given her the inspiration for this magnificent painting.
      Judith tries to capture the essence of what she sees and distil it to become a relatively simple play of colour and line.
      Over the years she has exhibited in a number of group exhibitions, including at the Edinburgh Festival, the Ulster Arts Club, the Garret Gallery and the Royal Ulster Academy (RUA).
    </p>
  </div>
  <div class="gallery">
    <h2>Gallery</h2>
  </div>
</div>

