<div class="side-nav">
 <%= image_tag('blank-avatar.png', height: 150, width: 150, class: "nav-avatar") %>
  <h1>JUDITH LEE</h1>
  <div>
    <ul class="side-link">
      <li><a href="#">About Me</a></li>
      <li><a href="#">Gallery</a></li>
      <li><a href="#">Shop</a></li>
    </ul>
  </div>
  <div class="text-center">
    <%= link_to "Contact", "#", class: "btn btn-flat" %>
  </div>
</div>
