.side-nav {
  padding: 48px;
  height: 100%;
  width: 311px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #F7F4EF;
    h1 {
      margin-top: 24px;
    }
}

.side-link {
  list-style-type: none;
  padding-left: 0px;
    li {
      margin-top: 36px;
    }
}
